<div>
<div class="mt4">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên Khóa Học</th>
      <th scope="col">Ngôn Ngữ</th>
      <th scope="col">Thời Gian Tạo</th>
      <th scope="col">Tùy Chọn</th>
    </tr>
  </thead>
  <tbody>
    
      {{#each me}}
      <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.slug}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-outline-dark">Update</button>
        <a href="" class="btn btn-outline-dark" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Delete</button>
      </td>
      </tr>
      {{/each}}
  </tbody>
</table>
</div>

{{!-- Confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete it?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-primary" >Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>

</div>
{{!-- delete course --}}
  <form name="delele-course-form" method="POST" ></form>

<script>
  document.addEventListener('DOMContentLoaded',function(){// lỗi jquery chưa được nạp vào trong bộ nhớ
      var courseId;
      var btnDeleteCourse=document.getElementById('btn-delete-course');
      var deleteFrom =document.forms['delele-course-form'];
      $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
         courseId = button.data('id') 
      });
       
      btnDeleteCourse.onclick= function(){
        deleteFrom.action='/courses/'+courseId + '?_method=DELETE';
        deleteFrom.submit();
      }
  });
</script>

</div>
